<div class="login-page">

    <!-- frosted-glass login card -->
    <mat-card class="login-card">
        <img mat-card-image src="/assets/images/logo.png" width="100%" alt="Image Description">
      <h2 class="login-title">Login Here</h2>
  
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            autocomplete="off"
            name="custom-username"
            id="custom-username"
            placeholder="Email or Phone"
            required
            [(ngModel)]="model.username"
          />
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            autocomplete="off"
            type="password"
            name="custom-password"
            placeholder="Password"
            class="field"
            required
            minlength="6"
            [(ngModel)]="model.password"
          />
        </mat-form-field>
  
        <button
          mat-raised-button
          color="primary"
          class="full-width login-button"
          [disabled]="f.invalid"
        >
          Log In
        </button>
      </form>
    </mat-card>
  </div>
  