@if(isMonitorScreen()){
<mat-toolbar class="toolbar">

</mat-toolbar>
<mat-card class="card" appearance="raised">
    <mat-card-content>
        <table mat-table [dataSource]="dataSource"
            class="mat-elevation-z8 monitor-table">

            <!-- Exception Column -->
            <ng-container matColumnDef="integrationName">
                <th mat-header-cell *matHeaderCellDef> IntegrationName </th>
                <td mat-cell *matCellDef="let element"
                    (click)="isMonitorScreen.set(false); integrationName.set(element.integrationName); getFilteredExecutionSummary(element.integrationId); isViewArrow.set(true)">
                    {{element.integrationName}} </td>
            </ng-container>

            <!-- Level Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <!-- Message Column -->
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{element.startTime |
                    date : 'dd-MM-yyyy hh:mm aa'}} </td>
            </ng-container>

            <!-- Action Buttons Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button
                        (click)="openOperationsDialog(element.integrationId)">
                        <mat-icon>visibility</mat-icon> <!-- Eye icon -->
                    </button>
                </td>
            </ng-container>

            <!-- Timestamp Column -->
            <!-- <ng-container matColumnDef="timeStamp">
                <th mat-header-cell *matHeaderCellDef> Time Stamp </th>
                <td mat-cell *matCellDef="let element">
                    {{element.timeStamp | date : 'dd/MM/yyyy HH:mm'}}
                </td>
            </ng-container> -->

            <!-- Table Header and Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>

}@else {
<mat-toolbar class="toolbar">

</mat-toolbar>

<mat-card class="card" appearance="raised">
    @if(isViewArrow()){
    <div class="row">
        <div class="col-12">
            <button mat-icon-button color="primary"
                (click)="isMonitorScreen.set(true); getExecutionSummary()"
                matTooltip="Back">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
    }
    <mat-card-content>
        <table mat-table [dataSource]="dataSource2"
            class="mat-elevation-z8 monitor-table">

            <!-- Exception Column -->
            <ng-container matColumnDef="integrationName">
                <th mat-header-cell *matHeaderCellDef> integrationName </th>
                <td mat-cell *matCellDef="let element">
                    {{element.integrationName}} </td>
            </ng-container>

            <!-- Level Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <!-- Message Column -->
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> startTime </th>
                <td mat-cell *matCellDef="let element"> {{element.startTime |
                    date : 'dd-MM-yyyy hh:mm aa'}} </td>
            </ng-container>

            <!-- Action Buttons Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button
                        (click)="openOperationsDialog(element.integrationId)">
                        <mat-icon>visibility</mat-icon> <!-- Eye icon -->
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
    </mat-card-content>
</mat-card>

}